<%= render "layouts/left" %>
<div class="mid">
  <ul class="list1 clearfix" style="width: 800px;">
    <div id="result">
      <%= render partial: "book", collection: @books %>
    </div>
  </ul>
  <div id="paginator">
    <%= paginate @books, theme: "twitter-bootstrap-3", remote: true %>
  </div>
</div>
