<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @publisher.name %>
</p>

<%= link_to t("users.edit1"), edit_publisher_path(@publisher), class: "btn btn-primary"%>
<%= link_to t("users.back"), publishers_path, class: "btn btn-primary" %>
