.wrapper{
  width: 1000px;
  margin: auto;
}
/* header */
.header{
  width: 100%;
}
/* left */
.left{
  float: left;
  width: 20%;
}
.mid{
  width: 80%;
  float: left;
}
.list1 ul{
  padding: 0px;
  margin: 0px;
}
.list1{
  margin-left: 0px;
}
.list1 li{
  width: 140px;
  float: left;
  display: inline;
  margin-left: 10px;
}
.list1img,.list1img img{
  width: 140px;
  height: 198px;
}
