<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<%= link_to t("users.edit1"), edit_category_path(@category), class: "btn btn-primary"%>
<%= link_to t("users.back"), categories_path, class: "btn btn-primary" %>
